.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #ddd;
  height: 100%;
}

.sidebar {
  background-color: #333;
  color: white;
  width: 20%;
  text-align: left;
  font-size: 1.5em;
  position: fixed;
  float: left;
	vertical-align: top;
	height: 100vh;
}

.sidebar-text {
  padding: 1.5rem;
  overflow-x: clip;
}

.sidebar-button {
  display: block;
  text-decoration: none;
  padding: 1.5rem;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.sidebar-button:hover {
  color: lightgrey;
  background-color: black;
  font-weight: bold;
}

.sidebar-button-active {
  color: lightgrey;
  background-color: black;
}

.topbar {
  background-color: #BB0F17;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  position: fixed;
  height: 50px;
  top: 0; 
  width: 100%;
  padding-left: 10px;
  z-index: 1;
}

.main-content {
  padding: 1.5rem;
  margin-left: 20%;
  margin-top: 50px;
  width: 80%
}

.scroll-table {
  overflow-y: scroll;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
}

.transparent-img {
  background-color: #ddd;
}

input[type=checkbox] {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 20%;
  border: 1px solid #999;
  -webkit-appearance: none;
  cursor: pointer;
  transition: .5s;
  margin-right: 0.2em;
}

input[type=radio] {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #999;
  -webkit-appearance: none;
  cursor: pointer;
  transition: .5s;
  margin-right: 0.2em;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background-color: #BB0F17;
  box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.25);
}

.schedule-form-card {
  text-align: left;
  border: #999 1px solid;
  border-radius: 1rem;
  background-color: #ddd;
  overflow-y: auto;
  max-height: 200px;
}

.class-results-card {
  border-radius: 1rem;
  padding: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #bbb; 
}
 
::-webkit-scrollbar-thumb {
  background: #BB0F17; 
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

.schedule-select {
  display: inline;
}

.course-details {
  line-height: 1em;
  font-size: 0.9rem;
}