.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  background-color: #333;
  color: white;
  height: 100vh;
  width: 225px;
  min-width: 225px;
  text-align: left;
  font-size: 1.5em;
  position: relative;
  float: left;
}

.sidebar-text {
  padding: 1.5rem;
}

.sidebar-button {
  display: block;
  text-decoration: none;
  padding: 1.5rem;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.sidebar-button:hover {
  color: lightgrey;
  background-color: black;
  font-weight: bold;
}

.sidebar-button-active {
  color: lightgrey;
  background-color: black;
}

.topbar {
  background-color: #BB0F17;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  top: 0; 
  width: 100%;
  padding-left: 10px;
}

.main-content {
  padding: 1.5rem;
}